.App {
  font-family: sans-serif;
  text-align: center;
}
.form-container {
  width: 256px;
  height: 325px;
  background:
    linear-gradient(#212121, #212121) padding-box,
    linear-gradient(145deg, transparent 35%, #1c4dff, #ff40bf) border-box;
  border: 2px solid transparent;
  font-size: 14px;
  font-family: inherit;
  color: white;
  position: fixed;
  display: flex;
  bottom: 70px;
  right: 60px;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
}

.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 12px;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.form-container .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #717171;
  font-weight: 600;
  width: 40%;
  background: #313131;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form-container .form-submit-btn:hover {
  background-color: #fff;
  border-color: #fff;
}
.chat-button {
  border: #fff solid 1px;
  position: fixed;
  font-size: 25px;
  display: flex;
  justify-content: center;
  bottom: 32px;
  right: 32px;
  border-radius: 100%;
  height: 45px;
  width: 45px;
  margin-left: 5px;
  transition: all 0.6s;
}
.chat-button:hover {
  background-color: #110c0c;
}
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;1,500&display=swap");
body {
  background: linear-gradient(#d000c5, #8a15ff);
  height: 100vh;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  font-family: "DM Mono", monospace;
  font-weight: 300;
  overflow: hidden;
  color: white;
  text-align: center;
}
h1 {
  font-size: 3em;
  margin-bottom: 0.2em;
}
h2 {
  font-size: 2em;
}
.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  align-items: center;
}
.main:before,
.main:after {
  content: "";
  display: block;
  position: absolute;
  z-index: -3;
}
.main:before {
  right: 0;
  bottom: -19;
  height: 30em;
  width: 30em;
  border-radius: 30em;
  background: linear-gradient(#3800e7, #8a15ff);
  align-self: flex-end;
  animation: gradient-fade 8s ease-in-out 3s infinite alternate;
}
.main:after {
  top: 0;
  left: 30;
  height: 10em;
  width: 10em;
  border-radius: 10em;
  background: linear-gradient(#3800e7, #8a15ff);
  animation: gradient-fade-alt 6s ease-in-out 3s infinite alternate;
}
.main__text-wrapper {
  position: relative;
  padding: 2em;
}
.main__text-wrapper:before,
.main__text-wrapper:after {
  content: "";
  display: block;
  position: absolute;
}
.main__text-wrapper:before {
  z-index: -1;
  top: -3em;
  right: -3em;
  width: 13em;
  height: 13em;
  opacity: 0.7;
  border-radius: 13em;
  background: linear-gradient(#15e0ff, #8a15ff);
  animation: rotation 7s linear infinite;
}
.main__text-wrapper:after {
  z-index: -1;
  bottom: -20em;
  width: 20em;
  height: 20em;
  border-radius: 20em;
  background: linear-gradient(#d000c5, #8a15ff);
  animation: rotation 7s linear infinite;
}
.arrow {
  z-index: 1000;
  opacity: 0.5;
  position: absolute;
}
.arrow--top {
  top: 0;
  left: -5em;
}
.arrow--bottom {
  bottom: 0;
  right: 3em;
}
.circle {
  transform: translate(50%, -50%) rotate(0deg);
  transform-origin: center;
}
.circle--ltblue {
  height: 20em;
  width: 20em;
  border-radius: 20em;
  background: linear-gradient(#15e0ff, #3800e7);
}
.backdrop {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: block;
  background-color: pink;
}
.dotted-circle {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.3;
  animation: rotation 38s linear infinite;
}
.draw-in {
  stroke-dasharray: 1000;
  stroke-dashoffset: 10;
  animation: draw 15s ease-in-out alternate infinite;
}
@keyframes draw {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.item-to {
  animation-duration: 10s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}
.bounce-1 {
  animation-name: bounce-1;
  animation-timing-function: ease;
}
.bounce-2 {
  animation-name: bounce-2;
  animation-timing-function: ease;
}
.bounce-3 {
  animation-name: bounce-3;
  animation-timing-function: ease;
}
@keyframes bounce-1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes bounce-2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes bounce-3 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes gradient-fade {
  from {
    transform: translate(10%, -10%) rotate(0deg);
  }
  to {
    transform: translate(50%, -50%) rotate(360deg);
  }
}
@keyframes gradient-fade-alt {
  from {
    transform: translate(-20%, 20%) rotate(0deg);
  }
  to {
    transform: translate(-60%, 60%) rotate(360deg);
  }
}
.card {
  padding: 1rem;
  background-color: #fff;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  max-width: 320px;
  border-radius: 20px;
}
.title {
  display: flex;
  align-items: center;
}
.title span {
  position: relative;
  padding: 0.5rem;
  background-color: #10b981;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 9999px;
}
.title span svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  height: 1rem;
}
.title-text {
  margin-left: 0.5rem;
  color: #374151;
  font-size: 18px;
}
.percent {
  margin-left: 0.5rem;
  color: #02972f;
  font-weight: 600;
  display: flex;
}
.data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.data p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #1f2937;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  text-align: left;
}
.data .range {
  position: relative;
  background-color: #e5e7eb;
  width: 100%;
  height: 0.5rem;
  border-radius: 0.25rem;
}
.data .range .fill {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #10b981;
  width: 76%;
  height: 100%;
  border-radius: 0.25rem;
}
.geo-arrow {
  fill: none;
  stroke: #02b4f0;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.chat-header {
  background: transparent;
  border-bottom: 1px solid #ccc;
  opacity: 0.9;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.chat-window {
  overflow-y: scroll;
}

.message-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat-input {
  position: absolute;
  bottom: 2px;
  left: 0;
  display: flex;
  justify-content: center;
  margin: 4px;
  padding: 5px;

  border-top: 1px solid #ccc;
}

.message-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 14px;
}

.send-button {
  border: none;
  outline: none;
  background-color: #333;
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
}

.send-button:hover {
  color: rgb(0, 0, 0);
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}
.messageBox {
  width: fit-content;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d2d2d;
  padding: 0 15px;
  border-radius: 10px;
  border: 1px solid rgb(63, 63, 63);
}
.messageBox:focus-within {
  border: 1px solid rgb(110, 110, 110);
}
.fileUploadWrapper {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

#file {
  display: none;
}
.fileUploadWrapper label {
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.fileUploadWrapper label svg {
  height: 18px;
}
.fileUploadWrapper label svg path {
  transition: all 0.3s;
}
.fileUploadWrapper label svg circle {
  transition: all 0.3s;
}
.fileUploadWrapper label:hover svg path {
  stroke: #fff;
}
.fileUploadWrapper label:hover svg circle {
  stroke: #fff;
  fill: #3c3c3c;
}
.fileUploadWrapper label:hover .tooltip {
  display: block;
  width: 80px;
  opacity: 1;
}
.tooltip {
  position: absolute;
  top: -40px;
  display: none;
  opacity: 0;
  color: white;
  font-size: 10px;
  background-color: #000;
  padding: 6px 10px;
  border: 1px solid #3c3c3c;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.596);
  transition: all 0.3s;
}
#messageInput {
  background-color: transparent;
  outline: none;
  border: none;
  padding-left: 10px;
  color: white;
}
#messageInput:focus ~ #sendButton svg path,
#messageInput:valid ~ #sendButton svg path {
  fill: #3c3c3c;
  stroke: white;
}

#sendButton {
  width: fit-content;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}
#sendButton svg {
  height: 18px;
  transition: all 0.3s;
}
#sendButton svg path {
  transition: all 0.3s;
}
#sendButton:hover svg path {
  fill: #3c3c3c;
  stroke: white;
}

.overlay {
  position: fixed;
  top: 50%;
  left: 30%;
  max-width: 50%;
  transform: translate(-50%, -50%);
  font-family: sans-serif;
  font-weight: bold;
  pointer-events: none;
  text-transform: uppercase;
}

@media (max-aspect-ratio: 1/1) {
  .overlay {
    left: 50%;
    width: 90%;
    max-width: 90%;
  }
}

@media (max-aspect-ratio: 3/5) {
  .overlay {
    font-size: 5vh;
  }
}
